.navbar {
  background-color: black;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  color: white;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  gap: 50px;
}

.navbar-logo {
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar-links {
  display: flex;
  gap: 1.5rem;
}

.navbar-links span {
  cursor: pointer;
  transition: color 0.3s ease;
}

.navbar-links span:hover {
  color: #f87171; /* light red on hover */
}

.navbar-search {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  width: 250px;
  color: black;
  background: white;
  position: relative;
  z-index: 1;
  box-shadow:
    inset 0 8px 15px -10px rgba(0, 0, 0, 0.6),
    /* top */ inset 0 -8px 15px -10px rgba(0, 0, 0, 0.6),
    /* bottom */ inset 8px 0 15px -10px rgba(0, 0, 0, 0.6),
    /* left */ inset -8px 0 15px -10px rgba(0, 0, 0, 0.6); /* right */
  transition: all 0.3s ease;
}

.navbar-search:focus {
  outline: none;
  box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.7);
}

.clear-search-btn {
  font-size: 0.85rem; /* Smaller text */
  padding: 0.5rem 0.75rem; /* Less padding on left/right, same on top/bottom */
  border: 1px solid white;
  color: white;
  background-color: transparent;
  border-radius: 0.25rem;
  transition: all 0.2s ease;
}

.clear-search-btn:hover {
  background-color: white;
  color: black;
  border: 1px solid white;
}

.search-container {
  overflow: hidden;
  animation: slideIn 0.3s ease-out forwards;
  transform-origin: right;
}

@keyframes slideIn {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}

.navbar-profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #ccc;
}

.avatar-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-text {
  font-size: 0.8rem;
}

.small-hover:hover {
  text-decoration: underline;
  color: #ccc;
}

.search-icon-button {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  color: white;
  font-size: 1.25rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  line-height: 1;
}

.search-icon-button:hover {
  color: #ccc;
}

/* Optional responsive tweak */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }
}
